.fich-fami {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fich-fami section {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.fich-fami .acciones {
    display: flex;
    gap: 15px;
    align-items: center;
    position: relative;
}
.fich-fami .acciones input {
    max-width: 350px;
    width: 100%;
    outline: none;
    border: solid var(--color3) 2px;
    font-weight: 500;
    padding: 3px 0;
    padding-left: 30px;
    font-size: 15px;
    text-transform: uppercase;
}
.fich-fami .acciones input:focus {
    border: var(--color1) 2px solid;
}
.fich-fami .acciones input::placeholder {
    text-transform: none;
}
.fich-fami .acciones .search-ico {
    position: absolute;
    left: 5px;
    color: var(--color1);
}
.fich-fami .acciones button {
    padding: 0px 10px;
    background-color: var(--color0);
    color: white;
    font-weight: 500;
    height: 32px;
    border-radius: 3px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.329);
    transition: .1s linear;
}
.fich-fami .acciones button:hover {
    box-shadow: none;
    transform: scale(1.02);
}
.fich-fami .acciones svg {
    font-size: 18px;
}



.fich-fami .tbl {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.fich-fami table {
    border-collapse: collapse;
}
/* .fich-fami table tr:nth-child(even) {
    background-color: rgba(46, 32, 240, 0.05); 
}
.fich-fami table tr:hover {
    background-color: var(--color4);
} */

.fich-fami th {
    background-color: rgba(46, 32, 240, 0.3);
    background-color: var(--color3);
    color: rgb(23, 20, 70);
    font-size: 14px;
    font-weight: 600;
    padding: 2px 5px;
}
.fich-fami table th, .fich-fami td {
    border: 1px solid rgba(46, 32, 240, 0.2);
    border: 1px solid var(--color3);
    cursor: default;
}
.fich-fami td {
    font-size: 14px;
    font-weight: 500;
    padding: 2px 6px;
}
.fich-fami table .name {
    text-transform: uppercase;
}
.fich-fami .cod_ficha {
    color: rgb(133, 60, 244);
    cursor: pointer;
    transition: .2s linear;
    font-weight: bold;
    text-align: left;
}
.fich-fami .cod_ficha:hover {
    text-decoration: underline;
    color: rgb(103, 25, 219);
    font-weight: 600;
}
.fich-fami .cod_ficha svg {
    color: goldenrod;
    font-size: 1rem;
    margin-right: 5px;
}
.fich-fami table .no-center {
    text-align: left;
}

.fich-fami .acc-ficha{
    display: flex;
    gap: 5px;
    padding: 2px;
    min-width: 80px;
}
.fich-fami .acc-ficha div {
    position: relative;
    height: 23px;
    width: 100%;
    padding: 0;
}
.fich-fami .acc-ficha svg {
    width: 100%;
    height: 100%;
    padding: 2px !important;
    background-color: thistle;
    cursor: pointer;
    transition: .2s linear;
}
.fich-fami .acc-ficha svg:hover {
    padding: 3px !important;
}
.fich-fami .acc-ficha p {
    position: absolute;
    left: 110%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: #333;
    color: white;
    font-size: .8rem;
    text-transform: none;
    padding: 1px 5px;
    border-radius: 3px;
    display: none;
    text-wrap: nowrap;
}
.fich-fami .acc-ficha p::after {
    content: "";
    position: absolute;
    left: -4px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #333;
}
.fich-fami .acc-ficha div:hover p {
    display: block; 
}
.fich-fami table .acc-ficha p:hover {
    display: none;
}

.fich-fami .acc-ficha .ico-del {
    background-color: rgba(255, 61, 93, 0.1);
    color: rgb(252, 61, 61);
}
.fich-fami .acc-ficha .ico-del:hover {
    background-color: rgba(255, 61, 93, 0.3);
}

.fich-fami .acc-ficha .ico-view {
    background-color: var(--color3);
    color: var(--color1);
}
.fich-fami .acc-ficha .ico-view:hover {
    background-color: rgba(14, 255, 118, 0.4);
}
.fich-fami .paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}



/* ------------------------------------------------------------------------- */
.agrega-ficha {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.agrega-ficha main {
    display: flex;
    justify-content: center;
    gap: 5px;
}
.agrega-ficha section {
    background-color: rgba(46, 32, 240, 0.1);
    padding: 10px 20px;
    border-radius: 10px;
}
.agrega-ficha section h3 {
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
}
.agrega-ficha .div {
    position: relative;
    display: grid;
    place-items: center;
}
.agrega-ficha .div svg {
    position: absolute;
    font-size: 2.5rem;
    padding: 5px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    animation: mover .3s linear infinite;
}
@keyframes mover {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}
.agrega-ficha .search {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 0 auto;
    position: relative;
}
.agrega-ficha .search input {
    padding: 3px 10px;
    padding-left: 30px;
    font-size: 1rem;
    border: none;
    font-weight: 600;
    outline: var(--color3) solid 2px;
    text-transform: uppercase;
}
.agrega-ficha .search input::placeholder{
    text-transform: none;
    font-size: .9rem;
}
.agrega-ficha .search input:focus {
    outline: var(--color0) solid 2px;
}
.agrega-ficha .search input::placeholder{
    font-weight: 500;
}
.agrega-ficha .search svg {
    position: absolute;
    left: 5px;
    font-size: 1.2rem;
}
.agrega-ficha .search button {
    height: 32px;
    padding: 0 10px;
    background-color: var(--color0);
    color: white;
    font-weight: 500;
}
.agrega-ficha .search button svg {
    position: initial;
    font-size: 1rem;
}
.agrega-ficha .data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.agrega-ficha .data label {
    display: flex;
    flex-direction: column;
    color: rgb(136, 136, 136);  
    font-weight: 500;
    font-size: .9rem;
    background-color: white;
    padding: 4px 10px;
    border-radius: 10px;
    text-align: center;
}
.data label:nth-child(2)  {
    grid-column: 2 / -1;
    justify-self: center;
    width: 100%;
}

.agrega-ficha .data label span {
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    color: rgb(31, 31, 93);
}
.agrega-ficha .btns {
    display: flex;
    margin-top: 20px;
    gap: 30px;
}
.agrega-ficha .btns button {
    width: 140px;
    height: 35px;
    font-weight: 500;
    background-color: var(--line1);
}
.agrega-ficha .btns svg {
    font-size: 1.2rem;
}