.personal-edit {
    display: flex;
    flex-direction: column;
}

.personal-edit .edit-content {
    background-color: white;
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

.personal-edit form {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    animation: fadeIn 0.3s ease;
    width: 100%;
}

.personal-edit form .center {
    display: flex;
    gap: 20px;
}

.personal-edit form .left-e,
.personal-edit form .right-e {
    display: flex;
    flex-direction: column;
}

.personal-edit form label {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
}

.personal-edit form div {
    display: flex;
    gap: 20px;
}

.personal-edit form input,
.edit-content form select {
    width: 100%;
    padding: 7px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    border: rgba(14, 171, 145, 0.242) solid;
    outline: none;
    transition: .3s ease;
    text-transform: uppercase;
}

.personal-edit form input:focus,
.edit-content form select:focus {
    border: rgb(15, 157, 145) solid;
}

.personal-edit form .btns {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    gap: 50px;
}

.personal-edit form .btns button {
    width: 130px;
    height: 40px;
    border-radius: 8px;
    font-size: 15px;
    text-transform: uppercase;
}

.personal-edit form fieldset {
    width: 100%;
}

.personal-edit .file input {
    font-weight: normal;
    text-transform: none;
}
@media (max-width: 750Px) {
    .personal-edit {
        padding-bottom: 200px;
    }

    .personal-edit form .center {
        display: flex;
        flex-wrap: wrap;
    }

    .personal-edit form div {
        width: 100%;
    }
}