.tbl-sector-map .h3 {
    text-align: center;
}
.tbl-sector-map .search{
    margin: 1rem 0;
    display: flex;
    justify-content: flex-end;
}
.tbl-sector-map .search input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid #ccc;
    outline: none;          
}

.tbl-sector-map table {
    width: 100%;
    border-collapse: collapse;
}

.tbl-sector-map th,
.tbl-sector-map td {
    text-align: left;
    border-bottom: 1px solid #ccc;
    font-size: .8rem;
}

.tbl-sector-map table th {
    background-color: var(--color3);
    text-align: center;
    font-weight: 600;
    border: solid 1px var(--color3);
}